/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/sSqhqFC.png);
    height: 599px;
    width: 806px;
    /*    margin-left: -404px;
        margin-top: -280px;*/
}


.ds4 .stick {
    position: absolute;
    background: url(https://imgur.com/nPrJvui.png);
    height: 94px;
    width: 94px;
}
