/* Force replace PS4 controller base */
.controller.ps4 {
  background-image: url("https://i.imgur.com/zNJqQyE.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* Hide original carbon fiber base layers */
.controller.ps4 .body,
.controller.ps4 .base,
.controller.ps4 svg {
  background: none !important;
  fill: none !important;
}
